{% extends "base.html" %}

{% block title %}
Formulario
{% endblock title %}

{% block css_header %}
{% load static %}
<link href="{% static 'css/select.css' %}" rel="stylesheet">
{% endblock css_header %}

{% block js_footer %}
<script src="{% static 'js/select/selectBox.js' %}"></script>
<script src="{% static 'js/select/select.js' %}"></script>
{% endblock js_footer %}

{% block nav %}
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ministerio de Educación Superior</a>
    </div>

    <div class="collapse navbar-collapse justify-content-md-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home/">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/form/">Planilla</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notas/">Notas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock nav %}

{% block content %}
<div class="text-center">
  <h2>Ministerio de Educación Superior</h2>
  <p class="lead">Solicitud de Ingreso a la Educación Superior</p>
  <p class="lead">Curso por Encuentros y Educación a Distancia</p>
</div>
<form class="form-horizontal" role="form">
  <form class="contact-form" method="POST">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">CES Y/O CUM</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">COD.</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Carné de Identidad</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Teléfono</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Nombres</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Primer Apellido</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Segundo Apellido</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Correo (opcional)</label>
          <input type="text" type="text" class="form-control">
        </div>
      </div>
    </div>
    <br>

    <p class="text-center" style="font-size:15pt">Dirección Particular</p>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Calle</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">No.</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Apto.</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Esc.</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Entre</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Y</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Reparto</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Poblado</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Municipio</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Cod.</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Provincia</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">Cod.</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <p class="text-center col-md-6" style="font-size:15pt">Color de Piel</p>
      <p class="text-center col-md-6" style="font-size:15pt">Sexo</p>
    </div>
    <br>
    <div class="row">
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="colorRadio" value="option1">
          Negro
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="colorRadio" value="option1">
          Blanco
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-3">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="colorRadio" value="option1">
          Mestizo
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-3">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="colorSexo" value="option1">
          Femenino
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="colorSexo" value="option1">
          Masculino
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
    </div>
    <br>
    <br>
    <p class="text-center" style="font-size:15pt">Procedencia escolar</p>
    <br>
    <div class="text-center row">
      <div class="form-check col-md-4">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="">
          IPU
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="">
          Politécnico
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="">
          FOC
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-1">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="">
          Otro, ¿cuál?
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>

    <p class="text-center" style="font-size:15pt">Nombre de las carreras que solicita</p>
    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="form-group bmd-form-group">
          <div class="related-widget-wrapper">
            <div class="selector">
              <div class="selector-available">
                <h4>Carreras Disponibles
                  <span class="help help-tooltip help-icon" title="Esta es una lista de las carreras disponibles. Puedes elegirlas seleccionándolas y presionando la flecha &quot;Elegir&quot; entre las dos cajas."></span>
                </h4>
                <p id="id_careers_filter" class="selector-filter">
                  <label for="id_careers_input">
                    <span class="help-tooltip search-label-icon" title="Escriba aquí para filtrar la lista de permisos disponibles."></span>
                  </label>
                  <input type="text" class='form-control' placeholder="Filtrar" id="id_careers_input">
                </p>
                <select name="careers_old" id="id_careers_from" multiple="" class="form-control filtered"
                  data-field-name="careers" data-is-stacked="0">
                  <option value="1" title="Matemática">Matemática</option>
                  <option value="2" title="Ciencia de la Computación">Ciencia de la Computación</option>
                  <option value="3" title="Derecho">Derecho</option>
                  <option value="4" title="Biología">Biología</option>
                </select>
              </div>
              <ul class="selector-chooser">
                <li><a title="Elegir" href="#" id="id_careers_add_link" class="selector-add">Elegir</a></li>
                <li><a title="Eliminar" href="#" id="id_careers_remove_link" class="selector-remove">Eliminar</a></li>
              </ul>
              <div class="selector-chosen">
                <h4>Carreras Elegidas <span class="help help-tooltip help-icon" title="This is the list of chosen careers. You may remove some by selecting them in the box below and then clicking the &quot;Remove&quot; arrow between the two boxes."></span></h4>
                <br>
                <hr>
                <select id="id_careers_to" multiple="multiple" name="careers" data-field-name="careers" class="form-control filtered"
                  data-is-stacked="0">
                </select><a title="Presione para eliminar todas las carreras a la vez" href="#" id="id_careers_remove_all_link"
                  class="selector-clearall active">Eliminar todas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <p class="text-center" style="font-size:15pt">Ocupación</p>
    <br>
    <div class="row">
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="ocupacionRadio" value="option1">
          Dirigente
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="ocupacionRadio" value="option1">
          Profesional
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="ocupacionRadio" value="option1">
          Técnico
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="ocupacionRadio" value="option1">
          Administrativo
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-3">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="ocupacionRadio" value="option1">
          Trabajador de los servicios
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="ocupacionRadio" value="option1">
          Obrero
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="ocupacionRadio" value="option1">
          Campesino
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="ocupacionRadio" value="option1">
          Ama de casa
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-2">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="ocupacionRadio" value="option1">
          Otra situación
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">¿Su ocupación se vincula a la carrera solicitada?</div>
      <div class="form-check col-md-1">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="vinculaRadio" value="option1">
          Sí
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-1">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="vinculaRadio" value="option1">
          No
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
    </div>
    <br>

    <p class="text-center" style="font-size:15pt">Sector Laboral</p>
    <p class="text-center">(Tipo de propiedad)</p>
    <br>
    <div class="row">
      <div class="form-check col-md-3">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="sectorRadio" value="option1">
          Estatal
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-3">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="sectorRadio" value="option1">
          Privado
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-3">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="sectorRadio" value="option1">
          Cooperativo
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
      <div class="form-check col-md-3">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="sectorRadio" value="option1">
          Mixto o Extranjero
          <span class="circle">
            <span class="check"></span>
          </span>
        </label>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-4 ml-auto mr-auto text-center">
        <button type="submit" class="btn btn-primary btn-raised">
          Enviar
        </button>
      </div>
    </div>
  </form>

</form><br>
{% endblock content %}