{% extends "base.html" %}

{% block title %}
Formulario
{% endblock title %}

{% block css_header %}
{% load static %}
<link href="{% static 'css/select.css' %}" rel="stylesheet">
{% endblock css_header %}

{% block js_header %}
<script src="{% static 'js/validate_function1.js' %}"></script>
{% endblock js_header %}

{% block js_footer %}
<script src="{% static 'js/scripts/selectBox.js' %}"></script>
<script src="{% static 'js/scripts/select.js' %}"></script>
{% endblock js_footer %}

{% comment %} Barra de navegación actualizada {% endcomment %}
{% block nav %}
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ministerio de Educación Superior</a>
    </div>

    <div class="collapse navbar-collapse justify-content-md-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home/">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/declaration/">Planilla</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notas/">Notas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock nav %}

{% block content %}
{% comment %} <div class="container"> {% endcomment %}
  <div class="text-center">
    <h2>Ministerio de Educación Superior</h2>
    <p class="lead">Solicitud de Ingreso a la Educación Superior</p>
    <p class="lead">Curso por Encuentros y Educación a Distancia</p>
  </div>

  {% if form.errors %}
    <div class="alert alert-danger">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons"></i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">×</i></span>
            </button>
            <b>Campos Inválidos:</b> Algo fue mal, por favor rellene los datos correctamente:
            {% comment %} {% for field in form.fields %}
              {% if field.errors %}
                {{field.name}} {{field.errors}}
              {% endif %}
            {% endfor %} {% endcomment %}
        </div>
    </div>
    {% endif %}
  
    <div class="alert alert-danger fade">
      <div class="container">
          <div class="alert-icon">
              <i class="material-icons"></i>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="material-icons">×</i></span>
          </button>
          <b>Campos Inválidos:</b> Algo fue mal, por favor rellene los datos correctamente.
      </div>
  </div>

<form name="fvalida" class="form-horizontal contact-form" method="POST" action="/turns/" role="form">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      <div class="form-group bmd-form-group" id="ci">
        <label class="bmd-label-floating">Carné de Identidad</label>
        <input type="text" name="ci" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group bmd-form-group" id="tel">
        <label class="bmd-label-floating">Teléfono</label>
        <input type="text" name="tel" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group bmd-form-group" id="nm">
        <label class="bmd-label-floating">Nombres</label>
        <input type="text" name="nombre" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group bmd-form-group" id="pA">
        <label class="bmd-label-floating">Primer Apellido</label>
        <input type="text" name="pApellido" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group bmd-form-group" id="sA">
        <label class="bmd-label-floating">Segundo Apellido</label>
        <input type="text" name="sApellido" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group bmd-form-group" id="crr">
        <label class="bmd-label-floating">Correo (opcional)</label>
        <input type="text" name="email" class="form-control">
      </div>
    </div>
  </div>
  <br>

  <p class="text-center" style="font-size:15pt">Dirección Particular</p>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group bmd-form-group" id="clll">
        <label class="bmd-label-floating">Calle</label>
        <input type="text" name="calle" class="form-control">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group bmd-form-group" id="num">
        <label class="bmd-label-floating">No.</label>
        <input type="text" name="num" class="form-control">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group bmd-form-group" id="ap">
        <label class="bmd-label-floating">Apto.</label>
        <input type="text" name="apto" class="form-control">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group bmd-form-group" id="esc">
        <label class="bmd-label-floating">Esc.</label>
        <input type="text" name="esc" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group bmd-form-group" id="ent">
        <label class="bmd-label-floating">Entre</label>
        <input type="text" name="entre" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group bmd-form-group" id="y">
        <label class="bmd-label-floating">Y</label>
        <input type="text" name="y" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group bmd-form-group" id="rep">
        <label class="bmd-label-floating">Reparto</label>
        <input type="text" name="repa" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group bmd-form-group" id="pbl">
        <label class="bmd-label-floating">Poblado</label>
        <input type="text" name="poblado" class="form-control">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group bmd-form-group" id="mun">
        <label class="bmd-label-floating">Municipio</label>
        <input type="text" name="mun" class="form-control">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group bmd-form-group" id="cod">
        <label class="bmd-label-floating">Cod.</label>
        <input type="text" name="cod0" class="form-control">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group bmd-form-group" id="pro">
        <label class="bmd-label-floating">Provincia</label>
        <input type="text" name="prov" class="form-control">
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group bmd-form-group" id="cod1">
        <label class="bmd-label-floating">Cod.</label>
        <input type="text" name="cod" class="form-control">
      </div>
    </div>
  </div>
  <br>

  <div class="row" id="colorpiel">
    <p class="text-center col-md-6" style="font-size:15pt">Color de Piel</p>
    <p class="text-center col-md-6" style="font-size:15pt">Sexo</p>
  </div>
  <br>
  <div class="row">
    <div class="form-check col-md-2" id="colp1">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="colorRadio" value="1">
        Negro
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-2" id="colp2">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="colorRadio" value="2">
        Blanco
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-3" id="colp3">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="colorRadio" value="3">
        Mestizo
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-3" id="s1">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="colorSexo" value="1">
        Femenino
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-2" id="s2">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="colorSexo" value="2">
        Masculino
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
  </div>
  <br>
  <br>
  <p class="text-center" style="font-size:15pt">Procedencia escolar</p>
  <br>
  <div class="text-center row">
    <div class="form-check col-md-4" id="p1">
      <label class="form-check-label">
        <input class="form-check-input" name="procedencia" type="radio" value="1">
        IPU
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-2" id="p2">
      <label class="form-check-label">
        <input class="form-check-input" name="procedencia" type="radio" value="2">
        Politécnico
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-2" id="p3">
      <label class="form-check-label">
        <input class="form-check-input" name="procedencia" type="radio" value="3">
        FOC
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-1" id="p4">
      <label class="form-check-label">
        <input class="form-check-input" name="procedencia" type="radio" value="4">
        Otro, ¿cuál?
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="col-md-2" id="p41">
      <input type="text" name="otroV" class="form-control">
    </div>
  </div>
  <br>

  <p class="text-center" style="font-size:15pt">Nombre de las carreras que solicita</p>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="form-group bmd-form-group">
        <div class="related-widget-wrapper">
          <div class="selector">
            <div class="selector-available">
              <h4>Carreras Disponibles
                <span class="help help-tooltip help-icon" title="Esta es una lista de las carreras disponibles. Puedes elegirlas seleccionándolas y presionando la flecha &quot;Elegir&quot; entre las dos cajas. Solo puedes elegir 5 carreras."></span>
              </h4>
              <p id="id_careers_filter" class="selector-filter">
                <label for="id_careers_input">
                  <span class="help-tooltip search-label-icon" title="Escriba aquí para filtrar la lista de carreras disponibles."></span>
                </label>
                <input type="text" class='form-control' placeholder="Filtrar" id="id_careers_input">
              </p>
              <select name="careers_old" id="id_careers_from" multiple="" class="form-control filtered" data-field-name="careers"
                data-is-stacked="0">
                {% for career in careers %}
                <option value="{{ forloop.counter }}" title="{{ career }}">{{ career }}</option>
                {% endfor %}
              </select>
            </div>
            <ul class="selector-chooser">
              <li><a title="Elegir" href="#" id="id_careers_add_link" class="selector-add">Elegir</a></li>
              <li><a title="Eliminar" href="#" id="id_careers_remove_link" class="selector-remove">Eliminar</a></li>
            </ul>
            <div class="selector-chosen">
              <h4>Carreras Elegidas
                <span class="help help-tooltip help-icon" title="Esta es una lista de las carreras elegidas. Puedes eliminarlas seleccionándolas en la caja de abajo y presionando la flecha &quot;Eliminar&quot; entre los dos recuadros"></span>
              </h4>
              <br>
              <hr>
              <select id="id_careers_to" multiple="multiple" name="careers" data-field-name="careers" class="form-control filtered"
                data-is-stacked="0">
              </select>
              <a title="Presione para eliminar todas las carreras a la vez" href="#" id="id_careers_remove_all_link"
                class="selector-clearall">Eliminar todas</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <p class="text-center" style="font-size:15pt">Ocupación</p>
  <br>
  <div class="row">
    <div class="form-check col-md-2" id="o1">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="ocupacionRadio" value="1">
        Dirigente
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-2" id="o2">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="ocupacionRadio" value="2">
        Profesional
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-2" id="o3">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="ocupacionRadio" value="3">
        Técnico
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-2" id="o5">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="ocupacionRadio" value="4">
        Administrativo
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-3" id="o6">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="ocupacionRadio" value="5">
        Trabajador de los servicios
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="form-check col-md-2" id="o7">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="ocupacionRadio" value="6">
        Obrero
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-2" id="o8">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="ocupacionRadio" value="7">
        Campesino
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-2" id="o9">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="ocupacionRadio" value="8">
        Ama de casa
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-2" id="o10">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="ocupacionRadio" value="9">
        Otra situación
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5">¿Su ocupación se vincula a la carrera solicitada?</div>
    <div class="form-check col-md-1" id="op1">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="vinculaRadio" value="1">
        Sí
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-1" id="op2">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="vinculaRadio" value="2">
        No
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
  </div>
  <br>

  <p class="text-center" style="font-size:15pt">Sector Laboral</p>
  <p class="text-center">(Tipo de propiedad)</p>
  <br>
  <div class="row">
    <div class="form-check col-md-3" id="tp1">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="sectorRadio" value="1">
        Estatal
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-3" id="tp2">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="sectorRadio" value="2">
        Privado
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-3" id="tp3">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="sectorRadio" value="3">
        Cooperativo
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
    <div class="form-check col-md-3" id="tp4">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="sectorRadio" value="4">
        Mixto o Extranjero
        <span class="circle">
          <span class="check"></span>
        </span>
      </label>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-4 ml-auto mr-auto text-center">
      <button type="submit" class="btn btn-primary btn-raised" onclick="valida_envia()">
        <a class="text-white">Enviar</a>
      </button>
    </div>
  </div>
</form><br>

{% comment %} 
<div class="row">
  <div class="col-md-4">
    <button type="button" class="btn btn-block btn-primary mb-3" data-toggle="modal" data-target="#modal-default">Default</button>
    <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" style="display: none;"
      aria-hidden="true">
      <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">Turno para validar los datos registrados</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>La fecha asignada para comprobar los datos enviados es: {{ turn }}</p>
            <p>Si dicho turno no es de su convenencia, puede concertar otra fecha.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Aceptar</button>
            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Elegir otra fecha</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}
{% endblock content %}