{% extends "base.html" %}

{% block title %}
Select Title
{% endblock title %}

{% block js_header %}
{% load static %}
<script>
    $(document).ready(function () { 
      $('select.turn_dates').bind('click', function (e) {
          $('select.turn_dates option').removeClass('select');
          if(e.target.tagName === 'SELECT') {
              var id = '#' + e.target.value;
              $(id).toggleClass('select');
          }
      });
      $('select.turn_dates').bind('click', function (e) {
          $('select.turn_dates option').removeClass('select');
          if(e.target.tagName === 'SELECT') {
              var id = '#' + e.target.value;
              $(id).toggleClass('select');
          }
      });
      $('#send-turn').bind('click', function(e) {
        $('.alert.alert-success.fade').removeClass('fade');
        // alert('Su cita ha sido correctamente enviada. Le esperamos en la fecha citada!!.');
      })
   })
</script>
{% endblock js_header %}


{% comment %} Barra de navegación actualizada {% endcomment %}
{% block nav %}
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ministerio de Educación Superior</a>
    </div>

    <div class="collapse navbar-collapse justify-content-md-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home/">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/form/">Planilla</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notas/">Notas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock nav %}

{% block content %}
<div class="alert alert-success fade">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons"></i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">×</i></span>
        </button>
        <b>Success Alert:</b> Su cita ha sido correctamente enviada. Le esperamos en la fecha citada!!.
    </div>
</div>
<div class="row">
  <!--      Wizard container        -->
  <form name="fturns" method="POST" action="/ok/">
      {% csrf_token %}
    <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->
    <div class="wizard-header">
      <h3 class="wizard-title">
        Elige un turno
      </h3>
      <h5>Por favor, elija una fecha para validar sus datos</h5>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="details">
        <div class="col-sm-12">
          <div class="form-group label-floating is-empty">
            <label class="control-label">Días disponibles</label>
            <select class="form-control turn_dates" name="turn">
              {% for turn in turns %}
                <option id="{{ forloop.counter }}" value="{{ forloop.counter }}" title="{{ turn.date }} {{ turn.time }}"> 
                  {{ turn.date }} a las {{ turn.time }} (No. {{turn.secretary}})</option>
                {% endfor %}
            </select>
            <span class="material-input"></span></div>
        </div>
      </div>
    </div>
    <div class="wizard-footer">
      <div class="pull-right">
        <input id="send-turn" type="submit" class="btn btn-next btn-fill btn-danger btn-wd" name="next" value="Next" data-toggle="modal" data-target="#modal-default">
      </div>
      <div class="pull-left">
        {% comment %} <a href="/form/">
          <input type="button" class="btn btn-previous btn-fill btn-default btn-wd" name="previous" value="Previous">
        </a> {% endcomment %}
      </div>
  </form>
</div>
  
 
{% comment %} <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-block btn-primary mb-3" data-toggle="modal" data-target="#modal-default">Default</button>
      <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="modal-title-default">Turno Guardado</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Su cita ha sido concertada satisfactoriamente.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Guardar cambios</button>
              <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Regresar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  {% endblock content %}